* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: sans-serif;
}

#nav-bar {
    top: 0;
    z-index: 10;
}

.container-fluid {
    background-image: linear-gradient(to right, #a517ba, #5f1782 );
}

.navbar {
    background-image: linear-gradient(to right, #a517ba, #5f1782 );
}

.navbar-brand img {
    height: 40px;
    padding-left: 20px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: #ffffff !important;
    font-weight: 300;
}

.fa-bars {
    color: #ffffff;
    font-size: 18px !important;
    font-weight: 300;
}

.navbar-toggler{
    outline: none !important;
}

/* Banner Section */

#banner {
    background-image: linear-gradient(to right, #a517ba, #5f1782 );
    color: #ffffff;
    padding-top: 5%;
}

.promo-title {
    font-size: 40px;
    font-weight: 400;
    margin-top: 50px;
}

#banner a{
    text-decoration: none;
    color: #ffffff;
}

.bottom-img {
    width: 100%;
}

/* Services Section */

#services {
    padding: 88px 0;
}

.title {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.title::before {
    content: '';
    background: #7b1798;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5px;
    transform: translateY(63px);
}

.title::after {
    content: '';
    background: #7b1798;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5px;
    transform: translateY(8px);
}

.services {
    padding: 20px;
}

.services-img {
    display: block;
    width: 40%;
    margin: 10px auto;
    z-index: auto;
}

.services h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
    text-align: center;
}

.services p{
    text-align: center;
    text-transform: inherit;
}

#services .btn-primary {
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #a517ba, #5f1782 );
}

/* About Us Section */

#about-us {
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}

.about-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}

#about-us ul {
    margin-left: 20px;
}

#about-us ul li {
    margin: 10px 0;
}

/* Testimonials Section */
#testimonial {
    margin: 100px 0;
}

.testimonials {
    border-left: 4px solid #7b1798;
    margin-top: 50px;
    margin-bottom: 50px;
}

.testimonials img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
    background-size: cover;
    background-position: 50% 50%;
}

.user-detail {
    display: inline-block;
    font-size: 12px;
}

/* Social Media Section */

#social-media {
    background: #f8f9fa;
    padding: 100px 0;
}

#social-media p {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.social-media-icons img {
    width: 60px;
    transition: 0.6s;
}

.social-media-icons a:hover img {
    transform: translateY(-10px);
}

/* Footer Section */

#footer {
    background-image: linear-gradient(to right, #a517ba, #5f1782 );
    
    color: #ffffff;
}

.footer-img {
    transform: rotate(180deg);
    width: 100%;
}

.footer-box {
    padding: 20px;
}

.footer-box img {
    width: 120px;
    margin-bottom: 20px;
}

.footer-box .fas {
    margin-right: 10px;
    font-size: 20px;
    height: 20px;
    text-align: center;
    padding-top: 7px ;
}

.footer-box .form-control {
    font-size: 12px;
    box-shadow: none;
    border: none;
    padding: 8px 25px;
    border-radius: 20px;
    margin-top: 25px;
    max-width: 250px;
}

.footer-box .btn-primary {
    box-shadow: none !important;
    padding: 8px 25px;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #a517ba, #5f1782 );
}